@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Serif:wght@700&family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.half-width{
    width: 75%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
    padding-top: 10%;
}
.light-blue{
    color: lightblue;
    font-family: 'Poppins', sans-serif;
}
.red{
    color:rgb(206, 58, 58);
}
.flexible-box{
    display: flex;
    margin-top: 50px;
    /*margin-bottom: 130px; */
}
#left-border{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(15, 118, 153),cyan);
    padding: 12px 38px;
    color: whitesmoke;
    font-weight: 800;
    border-radius: 10px;
}
.three-box{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 20px;
}
#mission-id{
    border-style: hidden;
    background-color: rgb(157, 224, 218);    
}

#vision-id{
    border-style: hidden;
    background-color: rgb(241, 163, 149);    
}

#goals-id{
    border-style: hidden;
    background-color: rgb(141, 226, 186);    
}
#down{
    padding-top: 5%;
}
footer{
    background-color: black;
    width: 100%;
    color: whitesmoke;
    text-align: center;
}
.f1{
    font-family: 'PT Serif', serif;
}
.f3{
    font-family: 'Lobster', cursive;
}
